/* code for top-nav */
/* ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¾ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â»ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â nh nghÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¾ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â©a biÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂºÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¿n */
:root{
  --thumb-color:rgb(148 146 146 / 57%);
  --icon-color:#dbdbdb;
  --icon-color-2: rgb(96,96,96);
  --icon-size: 1.1em;
  --search-box-background-color:  #303030;
  --muted-icon-color: rgb(154,154,154);
  --text-color: rgb(73,73,73);
  --size-img: 100px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
}
img{
  width: 100%;
  height: 100%;

}
body{
  background-color: beige;
  overflow-x: hidden;
  overflow-y: hidden;
}
.top-nav{
  width: 100%;
  height: 50px;
  padding: 0 16px;
  background-color: rgb(37,37,37);

  display: flex;
  justify-content: flex-start;
  align-items: center;
}
i.fas{
  color: #939393;
  font-size: var(--icon-size);
}
.top-nav-logo{
  height: 100%;
  width: 15%;
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
}
.top-nav-logo p{
  color: white;
  font-size: 1rem;
}
i.fab.fa-youtube{
  display: block;
  float: left;
  color: red;
  font-size: 1.5rem;
  padding-right: 3px;
}

.top-nav form{
  width: 71%;
  height: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.top-nav-search{
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.top-nav-search input[type="text"] {
  height: 100%;  width: 50%;
  background-color: var(--search-box-background-color);
  color: #dbdbdb;
  border: none;
  box-sizing: border-box;
  padding:5px;
  font-size: 0.9rem;
}
.top-nav-search input[type="text"]:focus{
  outline: none;
}
.top-nav-search .keyboard-icon{
  height: 100%;
  width: 5%;
  background-color: var(--search-box-background-color);

  display: flex;
  justify-content: center;
  align-items: center;
}
.keyboard-icon a span.far.fa-keyboard{
  color: var(--icon-color);
}
.top-nav-search .keyboard-icon a{
  text-decoration: none;
}
  .keyboard-icon a span.far.fa-keyboard:hover{
  color:#e9e8e8;
}
form button.search-button{
  width: 7%;
  height: 100%;
  background-color: rgb(54,54,54);
  border: none;
  cursor: pointer;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}
 button.search-button .search-icon i{
  font-size: 0.7rem;
  color: var(--muted-icon-color);
}
.search-tooltip{
  height: 120%;
  width: 120%;
  padding: 0 10px;
  background-color: rgb(54,54,54);
  border-radius: 2px;
  color: white;
  font-size: 12px;
  transition: .25s;
  opacity: 0;
  visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 0px;
  top: 40px;
  z-index: 10;
}
button.search-button:hover .search-tooltip{
  opacity: 1;
  visibility: visible;
}
button.search-button:focus{
  outline:none;
}
button.search-button:hover .search-icon i{
  color: rgb(185, 185, 185);
}
.top-nav .top-nav-user-icon{
  height: 100%;
  width: 13%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.top-nav-user-icon .user-icon{
  width: 25%;
  height: 100%;
  cursor: pointer;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}
.user-icon .user-avatar{
  height: 1.7rem;
  width: 1.7rem;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}
.user-avatar img{
  height: 100%;
  width: 100%;
}
span.video-tooltip, span.folder-tooltip, span.bell-tooltip {
  height: 30px;
  top: 53px;
  left: -8px;
  border-radius: 3px;
  background-color: var(--search-box-background-color);
}
.user-icon:hover span.video-tooltip{
  opacity: 1;
  visibility: visible;
}
span.folder-tooltip{
  width: 140px;
  left: -40px;
}
span.bell-tooltip{
  width: 80px;
}
.user-icon:hover span.folder-tooltip{
  opacity: 1;
  visibility: visible;
}
.user-icon:hover span.bell-tooltip{
  opacity: 1;
  visibility: visible;
}
/* code cho container homepage*/
.homepage{
height: auto;
padding: 0;
/* overflow: hidden; */
}
.left-menu{
  height: calc(100vh - 50px);
  background-color: #fff;
  float: left;
  padding: 0;

  /* white-space: nowrap; */}
.left-menu:hover{

  overflow: hidden;
  overflow-y: scroll;
}

.left-menu::-webkit-scrollbar{
width: 10px;

/* background-color: #F5f5f5; */
}
.left-menu::-webkit-scrollbar-thumb{
background-color: var(--thumb-color);

/* border-radius:05px; */
}
.right-content{height: 100vh;background-color: #f5f5f5;float: left;}
.text{
background-color: red;
}
.left-menu ul.left-menu-list{
list-style: none;
width: 100%;
padding: 18px 0;
border-bottom: 1px solid silver;

}

.left-menu ul.left-menu-list li{
/* background-color: silver; */
width: 100%;
height: 2rem;
cursor: pointer;

display: flex;
justify-content: center;
align-items: center;
}
.left-menu ul.left-menu-list li a{text-decoration: none;color: var(--icon-color-2);font-size: 14px;}
.left-menu ul.left-menu-list li i.fas,
.left-menu ul.left-menu-list li i.fab{color: var(--icon-color-2);float: right;transform: translateY(6px);font-size: 16px;}
.left-menu ul.left-menu-list li .li-row{
width: 100%;
}
.li-row .col-12{
padding: 0;
}
.li-row .col-12 .col-2,
.li-row .col-12 .col-10 {float: left;padding-right: 0;}
h4.menu-left-title {
padding-left: 19px;
font-size: 12px;
}
ul.content-list{
padding: 15px 0px;
}
ul.content-list li {
font-size: 13px;
padding: 0 23px;
font-weight: 500;
}
ul li:hover{
  background-color: #ededed;
}
/* ---------------end left menu--------------- */
.right-content{
  background-color:rgb(240, 240, 240);
}
.right-content{
  overflow: hidden;
  overflow-y: scroll;
}
.boxx{
  height: 300px;
  padding: 15px;
  margin-bottom: 20px;
}
.boxx .imgtop{
  height: 70%;
}
.boxx .imgtop img{
  height: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  display: block;
  object-fit: cover;
}
.boxx .botx{
  height: 50%;
  display: flex;
}
.boxx  .min-img{
  width:20%;
  height: 100%;
  padding-top: 2%;
}
.boxx  .min-img img{
  margin-top: 40%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
/* end min-img */
.boxx   h3{
  padding-top: 6%;
  padding-left: 0px;
  padding-bottom: 2%;
  cursor: pointer;
  font-weight: 500;
}
/* end .boxx  .textx h3 */
.boxx  .name-page{
display: flex;
/* justify-content: space-between; */
align-items: center;
}
.boxx  .name-page p{
  margin-right: 5px;
}
/* end .boxx  .name-page */
.boxx .wiew{
display: flex;
justify-content: space-between;
align-items: center;
}
.boxx .wiew i{
  font-size: .5rem;
  color: #303030;
}
/* -------------end video-box------------ */
.dash{
  width: 100%;
  height: 3px;
  background-color: rgb(162 144 144 / 73%);
  margin: 8px;
  border-radius: 10px;
}
/* -----------end dash--------------- */
.news{
  margin: 0 10px;
  height: 300px;
  /* background: white; */
 
}
.news h3{
  padding-bottom: 20px;
}
.news .news-title{
  padding: 5px 11px;
  width: 100%;
  height: auto;
  background-color: white;
}
.news .-news-title{
  width: 100%;
  height: 100px;
}
.news .-news-title p{
  text-align: unset;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  max-height: 52px;}
.news .-news-title p:hover{
  overflow: visible;
  white-space: pre-line;
  height: auto;
 }
.news .wiew{
display: flex;
align-items: center;
flex-direction: row;
margin: 10px 0;

}
.news .wiew i{
  margin: 0 5px;
  font-size: .5rem;
  color: #303030;
}
.news .wiew img{
  margin-right: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
}
.news .news-img img{
  width: var(--size-img);
  height: var(--size-img);
  overflow: hidden;
  object-fit: cover;
}
.news .like{
  margin-top: 10px;
}
.news .news-like{
  display: flex;
  /* flex-direction: center;
  align-items: center; */
}
.news .news-like p{
  margin: 0 5px;
}
.news .news-comment{
  display: flex;
  justify-content: flex-end;
}
.news .news-comment i{
  padding: 1px 15px;
}
/* ----------------end news--------------- */